In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# 5. / 6. 
# Using the pandas read_csv() method, read the GDP dataset into your notebook as a DataFrame called gdp_df. 
#Repeat for the internet use dataset. Call this DataFrame internet_df. Take a look at the first six rows.
gdp_df = pd.read_csv('gdp_percapita.csv.csv')
print(gdp_df)

internet_df = pd.read_csv('internet_use.csv.csv', error_bad_lines = False)
print(internet_df)

#5.#Take a look at the first 6 rows.
gdp_df.head(6)
internet_df.head(6)

#7.
#Look at the shape of each DataFrame - how many rows? How many columns?
#gdp_df = [6608 rows x 4 columns]
#internet_df = [4677 rows x 5 columns]

#8.
#Take a look at the datatypes for the columns in each DataFrame
print(type(gdp_df))
print(type(internet_df))

#9.a
gdp_df.tail(10)

#9. b
internet_df.tail(10)

#10.Drop the value footnotes column from both DataFrames. Check that this worked as expected.
gdp_df.drop(columns=internet_df.columns[-1], 
        axis=1, 
        inplace=True)

internet_df.drop(columns=internet_df.columns[-1], 
        axis=1, 
        inplace=True)

#10 -  Check that this worked as expected.
print(gdp_df)
print(internet_df)

#11- Change the columns for the GDP Per Capita DataFrame to ‘Country’, ‘Year’, and ‘GDP_Per_Capita’.
gdp_df.columns =['Country', 'Year', 'GDP_Per_Capita']
print(gdp_df)

#12 - Change the columns for the Internet Users DataFrame to ‘Country’, ‘Year’, and ‘Internet_Users_Pct’.
internet_df.columns =['Country', 'Year', 'Internet_Users_Pct']
print(internet_df.head())

In [266]:
#13 - Merge the two DataFrames to one. Merge all rows from each of the two DataFrames. Call the new DataFrame gdp_and_internet_use.
gdp_and_internet_use = pd.merge(gdp_df, internet_df)
#14 - Look at the first five rows of your new DataFrame to confirm it merged correctly.

#15 - Look at the last five rows to make sure the data is clean and as expected.
# -- come back to this?? One troublesome line is still populating.. 
gdp_and_internet_use.tail(5)

#16. -- Subset the combined DataFrame to keep only the data for 2004, 2009, and 2014. Check that this happened correctly.
filtered_years = gdp_and_internet_use[(gdp_and_internet_use.Year == '2004') | (gdp_and_internet_use.Year == '2009') | (gdp_and_internet_use.Year == '2014')]

#17 -- Create three new DataFrames, one for 2004, one for 2009, and one for 2014. Give them meaningful names that aren't too long
df_04 = gdp_and_internet_use[gdp_and_internet_use.Year == '2004']
df_09 = gdp_and_internet_use[gdp_and_internet_use.Year == '2009']
df_14 = gdp_and_internet_use[gdp_and_internet_use.Year == '2014']

print(df_04)

# -- confirming new variable "filtered_years" 
print(filtered_years)

#18 -- Which country had the highest percentage of internet users in 2014? What was the percentage? (Try typing the first 3 letters of your DataFrame name and hitting the tab key for auto-complete options).
df_14.sort_values('Internet_Users_Pct', ascending=False)
#Iceland with %98.16

#19 -- Which country had the lowest percentage of internet users in 2014? What was the percentage?
df_14.sort_values('Internet_Users_Pct', ascending=True)
#East-Timor with %1.14

#20 -- Repeat for 2004 HIGHEST
df_04.sort_values('Internet_Users_Pct', ascending=False)
#Belize with %9.8

#20 -- Repeat for 2004 LOWEST
df_04.sort_values('Internet_Users_Pct', ascending=True)
#Myanmar with %.02

#20 -- Repeat for 2009 HIGHEST
df_09.sort_values('Internet_Users_Pct', ascending=False)
#Iceland with %93

In [288]:
#20 -- Repeat for 2009 LOWEST
df_09.sort_values('Internet_Users_Pct', ascending=True)
#East-Timor with %.19

           Country  Year  GDP_Per_Capita Internet_Users_Pct
3071   Timor-Leste  2009     2724.834868         0.18525151
2106       Myanmar  2009     2874.780227               0.22
2712  Sierra Leone  2009     1372.392285               0.26
549       Cambodia  2009     2603.583778               0.53
993       Ethiopia  2009     1150.206179               0.54
...            ...   ...             ...                ...
3220        Uganda  2009     1817.449681               9.78
1320      Honduras  2009     4787.866688                9.8
2959        Sweden  2009    46185.526525                 91
2280        Norway  2009    60620.334503              92.08
1365       Iceland  2009    48428.312438                 93

[161 rows x 4 columns]